<div class="container">
  <div class="row">
    <h2>商品新規登録</h2>
  </div>

  <div class="row">
  <%= render'item', item:@item %>
  </div>

  <div class="row">
  <div class="form-group">
     <%= f.submit "新規登録" %>
  </div>
  </div>
  <!--% end %>-->
 </div>
</div>