<div class="container">
  <div class="row">
      <h2>商品新規登録</h2>
  </div>

 <%= render'item', item:@item %>

     <div class="form-group">
       <%= f.submit "新規登録" %>
     </div>
    </div>
    <% end %>
  </div>
 </div>
</div>