<div class-"container">
    <div class="row positon-relative">
        <%= image_tag 'naganocake_top.jpg', class:'w-50 h-50' %>
        <div class="col-auto position-absolute">
            <div class="comment-top">ようこそながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。</div>
        </div>
    </div>
    <!--public/itemsを作成したのちに新着画像表記のコードを記述する-->
</div>
